@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .h1-medium {
    @apply text-[40px] font-medium leading-[64px]  tracking-wide;
  }

  .h2-medium {
    @apply text-[32px] font-medium leading-[60px] tracking-wide;
  }

  .h2-bold {
    @apply text-[32px] font-bold leading-[31.2px];
  }

  
  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .paragraph-regular {
    @apply text-base font-normal leading-[23.5px];
  }

  .subtle-medium {
    @apply text-[11px] font-medium leading-[13px];
  }

  .paragraph-bold {
    @apply text-base font-bold leading-[20.8px];
  }



 
  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h2-medium {
    @apply text-[24px] font-medium leading-[38.4px];
  }
  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }
  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .h3-medium {
    @apply text-[20px] font-medium leading-[24.8px];
  }

  .h3-regular {
    @apply text-[20px] font-normal leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }
  .base-semibold {
    @apply text-[18px] font-semibold leading-[28.2px];
  }
  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .base-regular {
    @apply text-[18px] font-normal leading-[28px];
  }
 
  .paragraph-medium {
    @apply text-[16px] font-medium leading-[25.4px];
  }
  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }
  .body-regular {
    @apply text-[14px] font-normal leading-[23.5px];
  }
  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }
  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }
  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }
 
  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }
  .subtle-semibold {
    @apply text-[10px] font-semibold leading-[13px];
  }
}
